.u-section-1 .u-sheet-1 {
  min-height: 852px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 43px 0 0;
}

.u-section-1 .u-image-1 {
  width: 300px;
  height: 300px;
  margin: 18px auto 0 18px;
}

.u-section-1 .u-text-2 {
  margin: 38px 18px 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  margin: 18px 18px 14px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 404px;
}